@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: red;
   /* background-color: #242424;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.index__body {
    background-image: url("./Assets/MovieScreen_Blnk3.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:5;
}

.time__body {
    background-color: #242424 !important;
}

.container {
    width: 100%;
   
    
    
}

.row {
    
    max-width: 1000px;
    margin: 0 auto;
    
    
    
}

/*

LANDING

*/

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 24px; 
}

.nav__link--list {
    display: flex;
    list-style: none;
    margin-left: 16px;
}

.nav__link {
    margin-left: 16px;
    font-weight: bold;
}

.nav__link--anchor {


}

.img__company--logo {
    width: 100%;
    height: 100%;
    width: 65px;
    border-radius: 5px;
    
}

.img__wrapper--nav {
    background-color: #121111;
    border-radius: 5px;
    border: solid rgb(202, 201, 201) 1px;
}


/*

HEADER

*/



.header__content {
    text-align: center;
}

.header__title {
    margin-bottom: 8px;
    font-size: 48px;
}

.header__sub-title {
    margin-bottom: 16px;
}

.input {
    margin-bottom: 16px;
    height: 40px;
    border-radius: 5px;
    padding-left: 16px;
    background-color: rgb(255, 253, 253)
}

.input__movie--search {
    width: 500px;
}

.movie__button {
    font-weight: bold;
}

.button {
    background-color: rgb(202, 201, 201);
    padding: 8px 16px;
    border-radius: 5px;
}

.fa-magnifying-glass-location {
    
}

/*

MOVIES PAGE

*/

.movie__body {
    /*background-image: url("./Assets/MovieScreen_Blnk3.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
    background-color: #242424;
    
}

.movie-card {
    border: red solid 2px;
    height: 300px;
    width: 25%;
    max-width: 225px;
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
    margin-bottom: 24px;
}

.movie-poster {
    width: 100%;
    height: 175px;
    
    

}

.movie-poster__info {
    text-align: center;
    width: 100%;
}

.movie-card__container {
   display: flex;
   flex-direction: column;
   align-items: space-between;
}

.movie-theatre {
    font-weight: bold;
}

.movie__search--list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   position: relative;
}

.movie-input__boxes--header-container{
    padding-bottom: 48px;
}

.loading {
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    z-index: -1;
    
    
}

.fa-spinner {
    animation: spinner 750ms infinite;
    
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search__results {
    z-index: 1;
}

/* 

SHOWTIMES

*/


.time-card {
    
    display: flex;
    justify-content: center;
    
    padding-top: 16px;
    height: 300px;
    width: 100%;
    max-width: 225px;
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
    text-align: center;
}

.movie-theatre {
    margin-bottom: 16px;
}

.movie__list--showtimes {
    margin: 24px 0;
}


